{#
/**
 * @file
 * Default theme implementation for the ZU Admin Topbar.
 */
#}
<header class="zu-topbar">
  <div class="zu-topbar-title">
    {{ 'Zayed University Administration'|t }}
  </div>
</header>
