<p>Dear {{ name }},</p>

<p>Your application for <strong>{{ job_title }}</strong> has been updated successfully.</p>

<p>If this was not done by you, please contact support.</p>

<p>Regards,<br>HR Team</p>
