.public-user-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #dcdcdc;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 10px;
}

.public-user-select-all {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-item--files-csv-file.js-form-type-file {
    display: none;
}