<html>
<body style="font-family: Arial, sans-serif;">
  <h2>Hello {{ name }},</h2>

  <p>You have been successfully unsubscribed from our Newsletter.</p>

  <br>
  <p>— The Zayed University Team</p>
</body>
</html>
