:root {
  /* Neutral / Background */
  --neutral-50: #FFFFFF;
  --neutral-100: #FCFCFC;
  --neutral-200: #F7F7F7;
  --neutral-300: #F2F2F2;
  --slate-50: #F8FAFC;
  --slate-100: #F1F5F9;
  --slate-200: #E2E8F0;
  --slate-300: #CBD5E1;
  --slate-500: #64748B;
  --slate-700: #334155;
  --slate-900: #0F172A;

  /* Primary / Core Palette */
  --primary-500: #286CFF;
  --primary-600: #043DFF;
  --primary-hover: color-mix(in srgb, var(--primary-500), black 20%);

  /* Semantic / Accent Colors */
  --accent-yellow-500: #F29F0E;
  --accent-orange-500: #EB5F24;
  --accent-fuchsia-500: #D946EF;
  --accent-meahrun: #8c1f2f;
  --accent-meahrun-XXL-light: #B52520;
  --accent-meahrun-light: #FDCDCB ;
  --accent-meahrun-Xlight: #FDE4E3 ;

  /* Typography */
  --font-family-base: 'Roboto', "Public Sans", sans-serif;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;

  /* Border radius & spacing */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
  --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
}

/* ------------------------------
   2. Base Layout
------------------------------ */
/* body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, 
    system-ui, 'Ubuntu', 'Fira Sans', 
    sans-serif;
} */

h1,h2,h3,h4,h5,h6 {
  color: var(--accent-meahrun);
}
h1,h2,h3,h4,h5,h6,p, a, span {
  font-family: var(--font-family-base);
}

a {
  color: #F47A75;
}

a:hover {
  color: var(--accent-meahrun);
}
h1, .text-h1{ font-size:3.875rem;}
h2, .text-h2{ font-size:3rem;}
h3, .text-h3{ font-size:2.5rem;}
h4, .text-h4{ font-size:2rem;}
h5, .text-h5{ font-size:1.625rem;}
h6, .text-h6{ font-size:1.25rem;} 

.job-application-filter-form .filters-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.jobs-module-application-edit-form label,
.job-application-filter-form label {
  color: var(--accent-meahrun);
}

.form-element,
.form-element:hover {
  border-color: var(--accent-meahrun-light) !important;
}

.jobs-module-application-edit-form .form-submit,
.job-application-filter-form .form-submit {
  background-color: var(--accent-meahrun);
  color: var(--neutral-50);
  border-radius: 5px;
}

.jobs-module-application-edit-form strong {
  color: var(--accent-meahrun);
}
.jobs-module-application-edit-form .form-submit:hover,
.job-application-filter-form .form-submit:hover {
  background-color: var(--accent-meahrun-light);
  color: var(--accent-meahrun);
  border-radius: 5px;
}

.job-application-filter-form table th {
  background-color: var(--accent-meahrun-light);
  color: var(--accent-meahrun);
}