<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ subject }}</title>
    <style>
      /* Include any inline CSS or styles you want */
    </style>
  </head>
  <body>
    <div class="email-content">
      {{ node_content|raw }}
    </div>
  </body>
</html>
